@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(fonts/roboto-light.eot);
  src: local('Roboto Light'), local('Roboto-Light'), url(fonts/roboto-light.eot) format('embedded-opentype'), url(fonts/roboto-light.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/roboto-regular.eot);
  src: local('Roboto Regular'), local('Roboto-Regular'), url(fonts/roboto-regular.eot) format('embedded-opentype'), url(fonts/roboto-regular.woff) format('woff');
}
